<h1>Listing cards</h1>

<%= render partial: "shared/card_listing",
           locals: { cards: @cards } %>

<br />

<%= link_to 'New Card', new_card_path %>
<%= link_to 'Card Sets', card_sets_path %>
